.buttons-slider-container {
    padding: 0 10px;
}

.buttons-slider .slick-track {
    display: flex;
    align-items: center;
}

.buttons-slider a {
    flex: 1;
}

.buttons-slider .slick-slide {
    display: flex;
}

.buttons-slider .slick-slide{
    margin-left:  15px;
    margin-right:  15px;
  }

.buttons-slider .slick-list {
    margin-left: -15px;
    margin-right: -15px;
}
