.main-slider-container {
    padding: 0 10px;
}

.main-slider img {
    width: 100%;
    height: auto;
    margin: 0 20px;
}

@media only screen and (max-width: 767) {
    .main-slider img {
        max-width: 767px !important;
        height: 440px !important;
        outline: none;
    }
}

.slick-dots {
    position: absolute;
    bottom: 25px;
    left: -40%;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.main-slider {
    width: 100%;
    margin: 50px 0 115px;
}


.slick-dots li.slick-active button:before {
    color: #f4761c;
}

.main-slider .slick-dots li button:before {
    height: 20px;
    width: 20px;
    cursor: pointer;
}