.slider-arrow {
    position: absolute;
    top: 50%;
    height: 15px; width: 15px;
    border: 1px solid #f4761c;
    border-width: 2px 2px 0 0;
    cursor: pointer;
}

.slider-arrow--right {
    right: -20px;
    transform: translate(0, -50%) rotate(45deg);
}

.slider-arrow--left {
    left: -20px;
    transform: translate(0, -50%) rotate(225deg);
}

/* slick overrides */
.slick-prev:before, .slick-next:before {
    color: #f4761c;
}