#copied-tooltip {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
    visibility: hidden;
}

#copied-tooltip.tooltip-visible {
    visibility: visible;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: hidden;
  content: '';
  transform: rotate(45deg);
}

#copied-tooltip.tooltip-visible #arrow::before {
  visibility: visible;
}