@import './normalize.css';
@import './variables.css';
@import './slider/index.css';
@import './copy-to-clipboard-tooltip.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General Styles */

body {
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--orange);
    color: white;
    width: 100%;
    padding: 36px 0;
    margin-bottom: 36px;
    box-sizing: border-box;
    text-align: center;
}

.section {
    width: 100%;
    max-width: 1324px;
    margin: auto;
    margin-bottom: 36px;
    box-sizing: border-box;
}


/* Buttons row */

.buttons-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0
}

.buttons-row__btn {
    display: flex;
    border-radius: 16px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    overflow: hidden;
    width: 270px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons-row__btn a {
    color: white;
    padding: 24px;
}

.buttons-row__btn--1 {
    background-color: #C4212C;
}

.buttons-row__btn--2 {
    background-color: #F6A800;
}

.buttons-row__btn--3 {
    background-color: #487F71;
}

.buttons-row__btn--4 {
    background-color: #F6A800;
}


/* Text grid */

.text-grid {
    display: flex;
    flex-direction: column;
}

.text-grid__title {
    color: slateblue;
    text-align: center;
}

.text-grid__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-grid__body__item {
    flex: 1 1 50%;
    justify-content: center;
}


/* Promo grid */

.promo-grid__row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.promo-grid__row:first-of-type {
    margin-bottom: 24px;
}

.promo__img__link {
    width: 100%
}

.promo-grid__row__img {
    width: 100%;
    height: 100%;
}

.promo-grid__row__img-link {
    background-position-x: center;
}

.promo-grid__row__img-link:first-of-type {
    background-position-x: left;
}

.promo-grid__row__img-link:last-of-type {
    background-position-x: right;
}

.promo-grid__row__img-link--large {
    flex-grow: 1;
    width: 100%;
    height: 200px;
    background-image: url('../images/large-promo.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.promo-code__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 45%;
    padding: 0;
}

.promo-code__text__promo {
    font-size: 36px;
    margin: 30px 0 0 0;
}

.promo-code__text__info {
    font-size: 14px;
    color: grey;
    padding: 14px;
}

.promo-code {
    padding: 10px;
}

.promo-code__text {
    border: 2px solid;
    border-color: var(--orange);
    border-radius: 16px;
    position: relative;
}

.promo-code-group {
    display: flex;
    margin-bottom: 30px;
}

.promo-code-group__input {
    border-top-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 6px;
    border: 1px solid #000000;
    outline: none;
    padding: 6px 12px;
}

.promo-code-group__copy {
    border-top-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 0;
    border: 1px solid #000000;
    border-left: 0;
    display: flex;
}

.promo-code-group__copy__btn {
    border: none;
    outline: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

#copy-icon:hover {
    fill: var(--orange);
}

/* Text Section */

.text-frankenwilli {
    text-align: center;
}

.text-frankenwilli__title {
    font-size: 48px;
}

/* Footer */

.footer {
    width: 100%;
    max-width: 1139px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e0e0e0;
    background-color: #f4f4f4;
    padding: 40px 20px;
    margin: auto;
}

.footer-logo {
    margin: 0;
}

.footer-links__item__link {
    font-size: 15px;
    line-height: 24px;
}

.footer-column-title {
    color: #1f1f1f;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 16px;
}

.footer__links {
    display: flex;
    margin-bottom: 40px;
}

.footer__links__column {
    flex: 0 0 33.33%;
}

.footer-links__item {
    list-style: none;
}

.footer-links__item__link {
    color: #828282;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
}

.phone-tooltip-number {
    display: block;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
}

.footer-links__item__link:hover,
.email-tooltip-number:hover,
.phone-tooltip-number:hover {
    color: var(--orange);
}

.email-tooltip-number {
    color: #4f4f4f;
    margin: 20px 0;
    font-size: 18px;
}

.text-grid__body__item--image {
    text-align: center;
}
