/* General Styles */

.section {
    max-width: 767px;
    padding: 0 15px;
}


/* Buttons section */

.buttons-row {
    flex-direction: column;
    align-items: center;
}

/* Text grid */

.text-grid__body__item:first-child {
    order: 2;
}

.text-grid__body__item:nth-child(2) {
    order: 1;
}


/* Promo grid */

.promo-code__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90%;
    padding: 0;
}


/* Footer */

.footer__links {
    display: flex;
    flex-direction: column;
}